<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,_initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' href='/stylesheets/style.css' />
<title>Document</title>
</head>
<body>
<h1>Noticias Importantes</h1>
<a href="/noticias">Pagina da Noticia</a>
<div><a href="/not">Novas Noticias</a></div>

<div><h2>Reencontro de Pilar e Samuel e 'fake news': o que esperar da segunda fase de 'Nos Tempos do Imperador'</h2><a href="https://gshow.globo.com/novelas/nos-tempos-do-imperador/vem-por-ai/noticia/reencontro-de-pilar-e-samuel-e-fake-news-o-que-esperar-da-segunda-fase-de-nos-tempos-do-imperador.ghtml">Link da noticia</a></div>
<br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
