<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,_initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' href='/stylesheets/style.css' />
<title>Document</title>
</head>
<body>
<h1>Noticias chocantes</h1>
<a href="/">Ultimas Noticias</a>
<div><a href="/noticias">Noticias Principais</a></div>

<div><h2>Motos jรก representam mais de 50% dos acidentes graves no Brasil</h2><a href="https://motor1.uol.com.br/news/534388/motos-acidentes-abramet-2021/">Principal Noticia</a></div>
<br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>